<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scm.dao.ColorChangeMapper">
	<resultMap type="com.scm.pojo.ColorChange" id="colorChange-result">
		<id property="colorCode" column="colorCode"/>
  		<result property="colorName" column="colorName"/>
  		
  		<association property="typeDictionary" javaType="com.scm.pojo.TypeDictionary">
  			<id property="typeCode" column="typeCode"/>
  			<result property="brand" column="brand"/>
  			<result property="carCharacter" column="carCharacter"/>
  		</association>
	</resultMap>
	
	
	<!-- <select id="list" resultMap="colorChange-result">
		select colorcode,colorname,c.typecode,brand,carCharacter from Scm_ColorChange c
		left join scm_typeDictionary d on c.typecode=d.typecode
	</select> -->
	
	<select id="list" resultMap="colorChange-result">
		select * from
		(select rownum rn, colorcode,colorname,c.typecode,brand,carCharacter from Scm_ColorChange c
    	left join scm_typeDictionary d on c.typecode=d.typecode
    	where  <![CDATA[ rownum<=#{pageMax} ) where  rn>=#{pageMin} ]]>
	</select>
	
	<select id="findByColorCode" resultMap="colorChange-result">
		select colorcode,colorname,c.typecode,brand,carCharacter from Scm_ColorChange c
		left join scm_typeDictionary d on c.typecode=d.typecode where colorCode=#{colorCode,jdbcType=VARCHAR}
	</select>
	
</mapper>
